# Project files
*.komodoproject
*.classpath
*.project
*.settings

# Ignore JUnit files
junit/*

# Where maven compiles by default
target/
classes/
build/

# Java Files that should be ignored
*.class

# Code documentation
docs/doxygen/
docs/javadoc/

# Backup files
*.bak
*.log
*.*~
*~