# Project files
*.komodoproject
*.classpath
*.project
*.settings

# Ignore JUnit files
junit/*

# maven and ant build files
target/
classes/
build/
files/
overview-frame.html

# Java Files that should be ignored
*.class

# Code documentation
docs/doxygen/
docs/javadoc/

# Backup files
*.bak
*.log
*.*~
*~