# Make sure to ignore Eclipse files
*.classpath
*.project
*.settings

# Ignore Komodo files
*.komodoproject

# Ignore JUnit and Documentation files
junit/*
docs/javadoc/
docs/doxygen/

# Where maven compiles by default
target/
classes/
build/

# Java Files that should be ignored
*.class

# Backup files
*.bak
